#This is an example of how should a .localrc look like
#
#Aliases need to be called always, otherwise they dont work within tmux
alias be='bundle exec'
alias wsetup='be rake application:setup; migrate'
alias applicants='be rake import:list_applicants'
alias gloglog='git log --graph --pretty=format:'\''%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%ad)%Creset'\'' --abbrev-commit --date=short'
alias grs='git remote show origin'
alias gclean='git reset --hard HEAD; git clean -d -f'

# Docker VMs
alias dev=ubuntu-dev
function ubuntu-dev {
  id=$(uuidgen | cut -c 1-4)
    name=dev-$USER-$id
    docker run -ti --rm \
    --name $name --hostname $name \
    -v "$HOME/:$HOME/" \
    -v "$HOME/:/home/dev/" \
    -v "/var/run/docker.sock:/var/run/docker.sock" \
    -w $PWD -u dev \
    local/ubuntu-dev "$@"
}

function centos7-dev {
  id=$(uuidgen | cut -c 1-4)
    name=dev-$USER-$id
    docker run -ti --rm \
    --name $name --hostname $name \
    -v "$HOME/:$HOME/" \
    -v "$HOME/:/home/dev/" \
    -v "/var/run/docker.sock:/var/run/docker.sock" \
    -w $PWD -u dev \
    local/centos7-dev "$@"
}

# Docker overrides
if [[ -a /.dockerenv  ]]; then
  export PATH=$HOME/.linuxbrew/bin:$PATH
fi

if [ "$LOCALRC" = "loaded" ]
then
  echo 'No need to load .localrc - already loaded'
else
  echo 'Loading .localrc'
  export LOCALRC='loaded'

  export NLS_LANG=AMERICAN_AMERICA.UTF8

  # Webafis import section
  function applicant() {
    be rake import:applicant APPLICANT=$1
  }

  function duplicate() {
    be rake import:duplicate APPLICANT=$1
  }
  alias dapplicant='duplicate'

  # Webafis config section
  alias webafis-config='cat ../commons/config.rb'
  alias webafis-configs='be rake config:list'
  function webafis-reconfigure() {
    be rake config:reconfigure NEW_CONFIG=$1
    be rake customize:client_xsd CLIENT=$1
    git update-index --assume-unchanged ../commons/config.rb
    # git update-index --no-assume-unchanged ../commons/config.rb
    echo '---'
    echo 'ACTUAL WEBAFIS CONFIG:'
    echo
    webafis-config
    echo '---'
  }

  export DISABLE_AUTO_TITLE='true'
  export ORACLE_HOME=/usr/lib/oracle/12.2/client

  ### Added by the Heroku Toolbelt
  PATH=$PATH:/usr/local/heroku/bin
  export PATH

  # JAVA
  # export JAVA_HOME=/usr/local/java/jdk1.7.0_65/
  export JAVA_HOME=/usr/lib/jvm/java-8-oracle/
  PATH=$PATH:$JAVA_HOME/bin
  export PATH

  # Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
  export PATH="$PATH:$HOME/.rvm/bin"
fi

# always try this:
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*
